{
  "plugins": [
    "transform-react-jsx",
    "transform-es2015-parameters",
    "transform-es2015-destructuring",
    "transform-object-rest-spread",
    "transform-export-extensions",
    "transform-class-properties",
    "syntax-dynamic-import",
    "react-hot-loader/babel",
    ["import", { "libraryName": "antd", "style": false }],
  ],
  "presets": [
    ["es2015", {"modules": false}],
    "stage-2",
    "react",
  ]
}
