# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# General settings for whole project
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true

[server/**/*.js]
indent_size = 4

[src/**/*.{js,jsx,less,css}]
indent_size = 4

[webpack/**/*.js]
indent_size = 4

[temp/**/*.js]
indent_size = 4

[*.md]
indent_size = 4

[{webpack.config.js,.eslintrc.js,postcss.config.js}]
indent_size = 4

[{package.json,.stylelintrc,.babelrc}]
indent_size = 2
